body{
  font-family: 'Quicksand', sans-serif;

  background-image: url('../images/pidgeon-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  font-size: 2em;
  color: #c12258;
  line-height: 1.5em;
}

p{
  color: black;
  font-size: 18px;
  padding-top: 15px;

}
a{
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}
a:focus{
  border: 1px solid blue;
}
footer{
  background: black;
  min-height: 60px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}
footer p {
  color: white;
  text-align: center;
}

/* ==========TABLE========== */
table{
  border-collapse: collapse;
}
thead th{
  min-width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: #7e0830;
}
tbody td{
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid black;
}
tbody th{
    border-bottom: 2px solid black;
}
tbody tr:nth-child(even) {
  background: #dddddd;
}
/* table{
  border: 2px solid black;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: collapse;
}
th, td{
  min-width: 150px;
  padding: 10px 10px;
  border-bottom: 2px solid black;
  padding: 15px;
}
thead{
  background-color: #7e0830;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
thead tr:first-child,
thead th:last-child{
  border-radius: 10px;
}
tbody tr:nth-child(even) {
  background: #dddddd;
} */
